<!DOCTYPE html>
<html>
<head>
  <title>Settr</title>
  <%= stylesheet_link_tag    "settr/application", media: "all" %>
  <%= javascript_include_tag "settr/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
